body {
  margin: 0;
  padding: 0;
}

.banner_tab path {
  fill: #b0bec5;
  stroke: #b0bec5;
}

.banner_tab:hover path {
  fill: black !important;
  stroke: black !important;
  color: black !important;
}

.banner_tab:hover  div{
  color: black !important;
}


.banner_tab_active path {
  fill: #154599 !important;
  stroke: #154599 !important;
}
